//colors code

$Pink: hsl(322, 100%, 66%);

$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Pale-Blue: hsl(207, 100%, 98%);

//typogrophy
$headerFont: 'Poppins',
sans-serif;

$bodyFont: 'Open Sans',
sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 45px;
    font-family: $headerFont;
    
    header {
        img {
            width: 30px;
            height: 25px;
        }
        
        h1 {
            display: inline-block;
        }
    }
}
