//colors code

$Pink: hsl(322, 100%, 66%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Pale-Blue: hsl(207, 100%, 98%);
$Light-Grey: #808080;

//typogrophy
$Header-Font: 'Poppins',
sans-serif;

$Body-Font: 'Open Sans',
sans-serif;

$Font-Size: 14px;

//button placeholder
%button {
    font-family: $Body-Font;
    font-weight: 600;
    font-size: $Font-Size;
    background-color: $Pink;
    border: 2px solid $Pink;
    border-radius: 22px;
    color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $Body-Font;
    font-size: $Font-Size;

    header {
        padding: 50px;

        img {
            width: 30px;
            height: 25px;
        }

        h1 {
            font-family: $Header-Font;
            display: inline-block;
        }

        button {
            @extend %button;
            background-color: #fff;
            color: $Pink;
            height: 45px;
            width: 150px;
            float: right;
        }
    }

    .container {
        .body-container {
            padding: 0px 40px;

            .section-head {
                margin: 150px 0px;
                text-align: center;

                h1 {
                    font-size: $Font-Size * 3;
                    margin-bottom: 25px;
                }

                p {
                    margin: 0px 25% 50px 25%;
                }

                button {
                    @extend %button;
                    height: 50px;
                    width: 250px;
                    border-radius: 28px;
                    box-shadow:
                        2px 2px 5px $Light-Grey,
                        5px 5px 15px $Light-Grey;
                }
            }

            .section-2 {

                div {
                    text-align: center;

                    .img-1 {
                        width: 75%;
                        margin-bottom: 75px;
                    }
                }

                .media-left {
                    float: left;
                    margin-left: 12.5%;
                }

                .media-right {
                    float: right;
                    margin-right: 12.5%;
                }

                div {
                    div:first-of-type {
                        display: inline-block;

                        img {
                            float: left;
                            width: 35px;
                        }

                        p:first-of-type {
                            clear: both;
                            font-weight: 600;
                            font-size: $Font-Size * 6;
                        }

                        p:last-of-type {
                            font-size: $Font-Size * 1.5;
                            color: $Light-Grey;
                        }
                    }
                }
            }
        }
    }

    .section-3 {
        margin: 350px 0px 100px 0px;

        .top {
            background-image: url(./images/bg-section-top-desktop-1.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: top;
            height: 112px;
        }

        .middle {
            background-color: $Very-Pale-Blue;
            overflow: hidden;

            .img-3 {
                float: right;
                width: 400px;
                margin: 100px 12.5% 50px 0px;
            }

            h2 {
                font-size: $Font-Size * 2;
                margin: 150px 120px 25px 120px;
            }

            p {
                padding-right: 40%;
                margin: 0px 120px;
            }
        }

        .bottom {
            background-image: url(./images/bg-section-bottom-desktop-1.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: bottom;
            height: 112px;
        }
    }

    .section-4 {
        margin-bottom: 150px;

        .middle {
            text-align: left;

            .img-4 {
                width: 400px;
                float: left;
                margin: 0% 5% 50px 12.5%;
            }

            h2 {
                padding-top: 50px;
                margin: 0px 120px 25px 120px;
            }

            p {
                margin: 0px 120px;
            }
        }
    }

    .section-5 {
        clear: both;
        margin: 50px 0px;

        .top {
            background-image: url(./images/bg-section-top-desktop-2.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: top;
            height: 112px;
        }

        .middle {
            background-color: $Very-Pale-Blue;
            overflow: hidden;

            .img-5 {
                float: right;
                width: 400px;
                margin: 100px 12.5% 50px 0px;
            }

            h2 {
                font-size: $Font-Size * 2;
                margin: 150px 120px 25px 120px;
            }

            p {
                padding-right: 40%;
                margin: 0px 120px;
            }
        }

        .bottom {
            background-image: url(./images/bg-section-bottom-desktop-2.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: bottom;
            height: 112px;
        }
    }

    .section-6 {
        margin: 125px 0px;
        padding: 0px 60px;
        text-align: center;

        h1 {
            font-size: $Font-Size * 2.5;
            margin-bottom: 25px;
        }

        button {
            @extend %button;
            height: 50px;
            width: 250px;
            border-radius: 28px;
            box-shadow:
                2px 2px 5px $Light-Grey,
                5px 5px 15px $Light-Grey;
        }
    }

    .top-footer {
        background-image: url(./images/bg-footer-top-mobile.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100% 100%;
        height: 250px;
    }

    footer {
        background-color: $Very-Dark-Cyan;

        .middle {
            padding: 100px 100px 0px 0px;
            width: 50%;
            float: right;
            color: $Very-Pale-Blue;

            h1 {
                margin-bottom: 25px;
            }

            p {
                margin-bottom: 25px;
                font-size: $Font-Size;
                line-height: 26px;
                width: 60%;
            }

            input {
                //                display: block;
                width: 60%;
                height: 40px;
                border: none;
                border-radius: 10px;
                margin-bottom: 25px;
                padding-left: 20px;
                float: left;
            }

            button {
                @extend %button;
                width: 25%;
                height: 40px;
                //                display: inline-block;

                margin-left: 35px;
                border-radius: 10px;
            }
        }

        .bottom {
            float: left;
            width: 50%;

            div {

                .img-huddle {
                    width: 60px;
                    height: 50px;
                }

                h1:last-of-type {
                    font-family: $Header-Font;
                    display: inline-block;
                    font-size: $Font-Size * 4;
                }

                p {
                    width: 60%;
                }
            }

            background-color: $Very-Dark-Cyan;
            color: $Very-Pale-Blue;
            padding: 100px 0px 0px 100px;

            div {
                margin-bottom: 25px;

                .img-phone {
                    width: 30px;
                    height: 30px;
                    margin-right: 25px;
                }

                p {
                    display: inline-block;
                }
            }

            div {
                .img-email {
                    width: 40px;
                    height: 30px;
                    margin-right: 25px;
                }

                p {
                    display: inline-block;
                }
            }

            div {
                .img-facebook {
                    filter: invert(100%) sepia(4%) saturate(6145%) hue-rotate(175deg) brightness(93%) contrast(119%);
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    margin-top: 60px;
                }

                .img-instagram {
                    filter: invert(100%) sepia(4%) saturate(6145%) hue-rotate(175deg) brightness(93%) contrast(119%);
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                }

                .img-twitter {
                    filter: invert(100%) sepia(4%) saturate(6145%) hue-rotate(175deg) brightness(93%) contrast(119%);
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                }
            }
        }

        .clear {
            height: 75px;
            clear: both;
        }
    }
}

@media screen and (min-width: 100px) and (max-width: 834px) {
    body {
        header {
            padding: 25px;
        }

        .container {
            .body-container {

                .section-head {

                    h1 {
                        font-size: $Font-Size * 2;
                        margin-bottom: 25px;
                    }

                    p {
                        margin: 0px 50px 50px 50px;
                        font-size: $Font-Size;
                    }
                }

                .section-2 {
                    div {

                        .img-1 {
                            width: 333px;
                        }
                    }

                    .media-left,
                    .media-right {
                        float: none;
                        margin: 100px auto;
                    }
                }
            }
        }

        .section-3 {
            margin: 50px 0px;

            .top {
                background-image: url(./images/bg-section-top-mobile-1.svg);
            }

            .middle {
                text-align: center;
                background-color: $Very-Pale-Blue;

                .img-3 {
                    float: none;
                    margin-right: 0px;
                }

                h2 {
                    margin: 50px 120px 25px 120px;
                }

                p {
                    padding-right: 0px;
                    margin: 0px 150px 100px 150px;
                }
            }

            .bottom {
                background-image: url(./images/bg-section-bottom-mobile-1.svg);
            }
        }

        .section-4 {

            .middle {
                text-align: center;

                .img-4 {
                    float: none;
                    margin: 150px 0px 50px 0px;
                }

                h2 {
                    margin: 50px 120px 25px 120px;
                    padding-top: 0px;
                }

                p {
                    margin: 0px 150px;
                }
            }
        }

        .section-5 {
            margin: 50px 0px;

            .top {
                background-image: url(./images/bg-section-top-mobile-2.svg);
            }

            .middle {
                text-align: center;
                background-color: $Very-Pale-Blue;

                .img-5 {
                    float: none;
                    margin-right: 0px;
                }

                h2 {
                    margin: 50px 120px 25px 120px;
                }

                p {
                    margin: 0px 150px 50px 150px;
                    padding-right: 0px;
                }
            }

            .bottom {
                background-image: url(./images/bg-section-bottom-mobile-2.svg);
            }
        }

        .section-6 {

            h1 {
                font-size: $Font-Size * 2;
            }
        }

        .top-footer {
            height: 112px;
        }

        footer {

            .middle {
                float: none;
                width: 100%;
                padding: 50px 100px;
                overflow: hidden;

                h1 {
                    margin-bottom: 25px;
                }

                p {
                    width: 100%;
                    margin-bottom: 25px;
                    font-size: $Font-Size;
                    line-height: 26px;
                }

                input {
                    width: 100%;
                    display: block;
                    float: none;
                }

                button {
                    float: right;
                    margin-left: 0px;
                }
            }

            .bottom {
                width: 100%;
                padding: 100px 100px;

                div {
                    p {
                        width: 100%;
                        line-height: 26px;
                    }
                }

                div {
                    .img-phone {
                        float: left;
                    }

                    .img-phone + p {
                        width: 75%;
                    }
                }
                
                div {
                    .img-email {
                        float: left;
                    }

                    .img-email + p {
                        width: 75%;
                    }
                }
            }
        }
    }
}
