//colors code

$Pink: hsl(322, 100%, 66%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Pale-Blue: hsl(207, 100%, 98%);
$Light-Grey: #808080;

//typogrophy
$Header-Font: 'Poppins',
sans-serif;

$Body-Font: 'Open Sans',
sans-serif;

$Font-Size: 14px;

//button placeholder
%button {
    font-family: $Body-Font;
    font-weight: 600;
    font-size: $Font-Size;
    background-color: $Pink;
    border: 2px solid $Pink;
    border-radius: 22px;
    color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $Body-Font;
    font-size: $Font-Size;

    header {
        padding: 25px;

        img {
            width: 30px;
            height: 25px;
        }

        h1 {
            font-family: $Header-Font;
            display: inline-block;
        }

        button {
            @extend %button;
            background-color: #fff;
            color: $Pink;
            height: 45px;
            width: 150px;
            float: right;
        }
    }

    .container {
        .body-container {
            padding: 0px 60px 0px 60px;

            .head-section {
                margin: 125px 0px 125px 0px;
                text-align: center;

                h1 {
                    margin-bottom: 25px;
                }

                p {
                    margin-bottom: 50px;
                    font-size: $Font-Size;
                }

                button {
                    @extend %button;
                    height: 50px;
                    width: 250px;
                    border-radius: 28px;
                    box-shadow:
                        2px 2px 5px $Light-Grey,
                        5px 5px 15px $Light-Grey;
                }
            }

            .section-2 {
                div {
                    text-align: center;

                    .img-1 {
                        width: 333px;
                        margin-bottom: 75px;
                    }
                }

                div {
                    div:first-of-type {
                        margin: 25px 0px 25px 0px;
                        display: inline-block;

                        img {
                            float: left;
                            width: 35px;
                        }

                        p:first-of-type {
                            clear: both;
                            font-weight: 600;
                            font-size: $Font-Size * 6;
                        }

                        p:last-of-type {
                            font-size: $Font-Size * 1.5;
                            color: $Light-Grey;
                        }
                    }
                }
            }
        }
    }

    .section-3 {
        margin: 50px 0px 50px 0px;
        
        .top {
            background-image: url(../images/bg-section-top-mobile-1.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: top;
            height: 112px;
        }

        .middle {
            text-align: center;
            background-color: $Very-Pale-Blue;

            .img-3 {
                width: 333px;
                margin: 100px 0px 50px 0px;
            }

            h2 {
                margin: 0px 120px 25px 120px;
            }

            p {
                margin: 0px 120px 0px 120px;
            }
        }

        .bottom {
            background-image: url(../images/bg-section-bottom-mobile-1.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: bottom;
            height: 112px;
        }
    }

    .section-4 {
        margin: 50px 0px 50px 0px;
        
        .middle {
            text-align: center;

            .img-4 {
                width: 333px;
                margin: 100px 0px 50px 0px;
            }

            h2 {
                margin: 0px 120px 25px 120px;
            }

            p {
                margin: 0px 120px 0px 120px;
            }
        }
    }

    .section-5 {
        margin: 50px 0px 50px 0px;
        
        .top {
            background-image: url(../images/bg-section-top-mobile-2.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: top;
            height: 112px;
        }

        .middle {
            text-align: center;
            background-color: $Very-Pale-Blue;

            .img-5 {
                width: 333px;
                margin: 100px 0px 50px 0px;
            }

            h2 {
                margin: 0px 120px 25px 120px;
            }

            p {
                margin: 0px 120px 0px 120px;
            }
        }

        .bottom {
            background-image: url(../images/bg-section-bottom-mobile-2.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: bottom;
            height: 112px;
        }
    }
}
